:root{
    --primary:red;
    --secondary:blue;
    --dark:black;
    --light:white;
  
  }

  /* to use media query for responsiveness :use styledComponents
first import them as top, then use styled.div as below, then replace required div
also use npm i styled-components in terminal */
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: none; */
  
  }
  
  body{
    background-color: rgb(143, 138, 125);
    display: grid;
    place-content: center;
    font-family:'Times New Roman', Times, serif;
    height: 100vh;
    font-size: 2rem;
  }
  
  .App{
    height: 80vh;
    width: 70vh;
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  }
  .calculator{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
  }
  
  .display {
    grid-column: 1 / -1;
    color: white;
    text-align: right;
    padding: 0.7rem;
    font-size: 3rem;
    overflow: hidden;


  }
  .btn {
    display: grid;
    place-content: center;
    background-color: rgb(54, 52, 52);
    border-radius: 40%;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  .btn:hover {
    background-color: gray;
  }
  
  .lfunc {
    background-color: gray;
    color: black;
  }
  
  .lfunc:hover {
    background-color: white;
  }
  
  .op {
    background-color: orange;
  }
  
  .op:hover {
    background-color: white;
    color: orange;
  }
  
  .zero {
    grid-column: 1 / span 2;
    border-radius: 25px;
    place-content: unset;
    align-items: center;
    padding-left: 2rem;
  }
  

  